header{
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 450px;
   
}
nav{
    display: flex;
    gap: 70px;
    margin-top: 20px;

}
a{
    text-decoration: none;
    font-size: 18px;
    color: #363853;
}
a:hover{
  color: #FF7A50;
}
button{
    width: 120px;
    height: 50px;
    background-color:#FF7A50;
    color: aliceblue;
    border: none;
    box-shadow: 0px 22px 40px 0px #FF683830;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
    border-radius: 5px;
}
main{
    margin-left: 50px;
}
.card1{
    display: flex;
    gap: 150px;
    margin-top: 70px;
    margin-left: 50px;
}
.box1{
    width: 500px;
    height: 300px;
    margin-top: 100px;
}
.box1 p{
    color: #363853;
    margin-top: 30px;
}
.box1 button{
    width: 163px;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 0px 22px 40px 0px #FF683830;
    margin-top: 35px;
}
.card2{
    display: flex;
}
.box2{
    width: 370px;
    height: 497px;
    margin-top: 170px;
    margin-left: 220px;
}
.box2 p{
    margin-top: 110px;
}
.img1{
    margin-top: 120px;
}
.card3{
    display: flex;
    gap: 40px;
    margin-left: 150px;
    margin-top: 30px;
}
.img2{
   margin-left: 600px;
   margin-top: 50px;
}
.img3{
    width: 22px;
    height: 22px;
    margin-top: 10px;
}
.img4{
       width: 22px;
    height: 22px;
    margin-top: 10px;
}
.img5{
       width: 22px;
    height: 22px;
    margin-top: 10px;
}
.div1{
    display: flex;
    gap: 10px;
    color: #363853;
}
h4{
    color: #363853;
    font-size: 24px;
    font-weight: 400;
}
.card4{
    display: flex;
    margin-top: 70px;
    gap: 70px;
}
.box3{
    width: 490px;
    height: 174px;
    margin-left: 100px;
}

span{
    color: #FF7A50;
    font-size: 36px;
}
h2{
    color: #363853;
    font-size: 36px;
}
footer{
    height: 312px;
    background-color: #FF7A50;
    border-radius: 20px;
}
h1{
    text-align: center;
    color: aliceblue;
    padding-top: 40px;
    font-size: 40px;

}
.box4{
    width: 839px;
    height: 78px;
    background-color: #FFFFFF;
    margin-left: 400px;
    border-radius: 70px;
}
.box4 p{
    font-size: 18px;
    color: #363853;
    margin-left: 60px;
    margin-top: 50px;
}
.div2{
    width: 191px;
    height: 58px;
    background-color: #FF7A50;
    border-radius: 70px;
    margin-left: 600px;
    
    text-align: center;
    font-size: 20px;
    color: #FFFFFF;
    border: 1px solid black;
    
}
.box5{
display: flex;
margin-bottom: 40px;
}


